* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F5A9;
}

/* */
.conten {
    width: 100%;
    height: 100%;
}

.whatshapp {
    position: relative;
    text-align: center;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* final */

footer .creado-por {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    color: green;
}


/* social network */
section {
    text-align: center;
    margin-top: 50px;
}

section .social-networks a {
    display: inline-flex;
    color: white;
    height: 50px;
    width: 50px;
    background: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 8px;
}

@media screen and (max-width: 770px){
    section .social-networks a{
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
}

.social-networks a:hover {
    transform: scale(1.2);
}

.social-networks a.facebook {
    background-color: #3c70a4;
}

.social-networks a.twitter {
    background-color: #5bd1d7;
}

.social-networks a.google {
    background-color: #ee4540;
}

.social-networks a.youtube {
    background-color: #c72c41;
}

.social-networks a.instagram {
    background-color: #bb7171;
}

/* final */

footer .creado-por {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    color: darkmagenta;
}
