@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
}

/* header */

header {
    height: 60px;
    background: #ec1c24;
    display: flex;
    padding: 0 20px;
   /* position: fixed;
    left: 0;
    top: 0;
    width: 100%; */
}


.menu-toggle {
    display: none;
    margin-left: auto;
    color: white;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
}

.logo-nav a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

#menu {
    margin-left: auto;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    line-height: 60px;
    padding: 0 8px;
    text-transform: uppercase;
    transition: .2s;
}

#menu ul li a:hover {
    background: #ff5364;
}

.show {
    height: 305px !important;
}

@media screen and (max-width:700px) {
    .menu-toggle{
        display: block;
    }

    #menu {
        background: #ec1c24;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        border: 1px solid #eee;
        overflow: hidden;
        transition: .3s ease-out;
    }

    #menu ul li {
        display: block;
        text-align: center;
    }

    #menu ul li a {
        color: white;
        font-size: 20px;
        border-bottom: 1px solid #ff5364;
        width: 100%;
    }

    #menu ul li a:hover {
        background: #ff5364;
    }

    .container{
        padding: 10px;
    }
} 

/* section item de productos */

.content-section {
    margin: 1em;
}

.container {
    max-width: 100%;
    margin: 10px auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #ec1c24;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

/* elemento de compra */

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-details a{
    text-decoration: none;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 985px){
    .btn {
        text-align: center;
        vertical-align: middle;
        padding: .30em .30em;
        cursor: pointer;
    }
    .shop-item {
        margin: 20px;
    }
    
    .shop-item-title {
        display: block;
        width: 70%;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        color: #333;
        margin-bottom: 15px;
    }
    
    .shop-item-image {
        height: 150px;
    }
    
    .shop-item-details {
        display: flex;
        align-items: center;
        padding: 5px;
    }
    
    .shop-item-details a{
        text-decoration: none;
    }

    .shop-item-price {
        flex-grow: 1;
        color: #333;
    }
    
    .shop-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (max-width: 500px){
    .btn {
        text-align: center;
        vertical-align: middle;
        padding: 0.2em 0.2em;
        cursor: pointer;
    }
    .shop-item {
        margin: 10px;
    }
    
    .shop-item-title {
        display: block;
        width: 50%;
        text-align: center;
        font-weight: bold;
        font-size: .5em;
        color: #333;
        margin-bottom: 5px;
    }
    
    .shop-item-image {
        height: 90px;
    }
    
    .shop-item-details {
        display: flex;
        align-items: center;
        padding: 0px;
    }

    .shop-item-details a{
        text-decoration: none;
    }
    
    .shop-item-price {
        flex-grow: 1;
        color: #333;
    }
    
    .shop-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

/**/

.navbar-nav a {
    text-decoration: none;
}